* 
{
padding: 0px;
margin: 0px;
}

body
{
font-size: 20px;
text-align: center;
}

/* navigation bar */
.navbar
{
background-color: white;
}

.navbar .navbar-brand
{
padding-left: 20px;
color: #fff;
/* font-family: 'Lobster', cursive; */
font-family: sans-serif;
/* font-size: 2em; */
}

#navbarNav .nav-item
{
padding: 10px 20px;
/* font-family: 'Lobster', cursive; */
font-family: sans-serif;
font-size: 20px;
}

#navbarNav .nav-link
{
color: black;
}


#navbarNav .nav-link:hover
{
color: darkred;

}


#navbarNav .nav-item:hover
{
color: darkred;

}

/* picture slider */
.carousel h3
{
font-family: 'Lobster', cursive;
padding-bottom: 50px;
}

.carousel-caption h3
{
font-size: 30px;
font-weight: 50px;
}

/* about us section */
.about .col-md-3 a
{
color: black;
float: left;
font-size: 18px;
margin-left: 20px;
}

.col-md-6 a
{
/* float: left; */
font-family: sans-serif;
color: black;
}

.aboutus h1
{
font-family: 'Lobster', cursive;
text-align: center;
padding-top: 35px;
padding-bottom: 10px;
font-size: 40px;
}

.aboutus h3
{
font-family: sans-serif;
font-weight: 50;
}
 
.aboutus h4
{
font-weight: 40;
font-family: sans-serif;
}

.main ul
{
list-style-type: none;
padding-bottom: 20px;
}

/*********** cards************/
p .aboutus-text
{
text-align: center;
margin-left: auto;
margin-right: auto;
}



/* contact us section */
#contact
{
font-family: 'Lobster', cursive;
text-align: center;
/* padding-top: 10px; */
margin-top: 10x;
}

#contact h1
{

font-size: 40px;
}

footer
{
/* background-color: gainsboro; */
margin-top: 30px;

color: white;
}

footer p
{
color: white;
padding: 20px;
}